@import 'src/styles.scss';

.container {
    padding: 0 0 50px;
    min-height: 90%;
    margin: 0 0 50px;
    min-height: 90%;
    aside {
        width: 48%;
    }
    img {
        margin-right: 10px;
        border: 1px solid $image;
        width: 200px;
        height: auto;
    }
}

button {
    margin-right: 10px;
}