@import 'src/styles.scss';

header {
    padding: 20px;
    background: $headerBg;
    color: $headerColor;
    margin: 0 0 25px;
    img {
        vertical-align: middle;
        margin-right: 20px;
    }
    h1 {
        float: left;
    }
    .navigation {
        float: right;
    }
}

.wrapper {
    overflow: hidden;
    max-height: 50px;
}