<section class="fl">
    <h2>Books store list</h2>

    <ol>
        <li *ngFor="let book of books; index as i;">
            <h3>{{ i + 1 }}. {{ book.title }}</h3>
            <p>
                <strong>author:</strong> {{ book.author }},<br />
                <strong>isbn:</strong> {{ book.author }},<br />
                <strong>price:</strong> {{ book.price  | currency :'USD':'symbol':'1.2-2' }}
            </p>
            <button (click)="addToCart( book.id )">add to card</button>
            <button (click)="removeFromCart( book.id )" *ngIf="checkBook(book.id)">remove from card</button>
        </li>
    </ol>
</section>
<aside class="fr">
    <h2>My cart</h2>
    <ol *ngIf="total">
        <li *ngFor="let cBook of getUnic(cart); index as i;">
            <h3>{{ i + 1 }}. {{ cBook.title }} <span>in a price of {{ cBook.price  | currency :'USD':'symbol':'1.2-2' }}</span></h3>
            <p *ngIf="getNumber(cBook.id) > 1"><strong>{{ getNumber(cBook.id) }}</strong> copies of this book.</p>
        </li>
    </ol>
    <p *ngIf="total">
        <strong>The totalprice is: </strong> {{ total | currency :'USD':'symbol':'1.2-2' }}
    </p>
    <button (click)="goToCart()" *ngIf="total">
        Make an order
    </button>
</aside>
